In [34]:
import json
from pandas.io.json import json_normalize
import pandas as pd

In [20]:
with open('spend.json') as data_file:    
    data = json.load(data_file)  

df = json_normalize(data=data['data'], record_path = ['spendbydaterange'])

In [31]:
df.columns

Index(['job_category', 'location', 'overtime_billrate', 'overtime_hours',
       'regular_billrate', 'regular_hours', 'spend_date', 'supplier',
       'total_billrate', 'total_hours'],
      dtype='object')

In [36]:
df = df.apply(pd.to_numeric, errors='ignore')

In [40]:
df.groupby(['spend_date'])['regular_billrate', 'overtime_billrate', 'total_billrate'].sum()

            regular_billrate  overtime_billrate  total_billrate
spend_date
2018-04-02          35240.70               0.00        35240.70
2018-04-03          37387.81               0.00        37387.81
2018-04-04          37459.12               0.00        37459.12
2018-04-05          36746.60             420.00        37166.60
2018-04-06          30568.23            3302.50        33870.73
2018-04-07              0.00             256.00          256.00
2018-04-08              0.00             280.00          280.00
2018-04-09          35090.71               0.00        35090.71
2018-04-10          38196.24               0.00        38196.24
2018-04-11          36870.96               0.00        36870.96
2018-04-12          33340.34               0.00        33340.34
2018-04-13          28557.81            2977.51        31535.32
2018-04-14            396.00               0.00          396.00
2018-04-15              0.00             135.00          135.00
2018-04-16          36456.85               0.00        36456.85
2018-04-17          37751.35               0.00        37751.35
2018-04-18          35925.24               0.00        35925.24
2018-04-19          34990.97               0.00        34990.97
2018-04-20          28423.01            2531.25        30954.26
2018-04-21            492.00             264.00          756.00
2018-04-22              0.00             405.00          405.00
2018-04-23          37638.97               0.00        37638.97
2018-04-24          38165.99               0.00        38165.99
2018-04-25          36994.12               0.00        36994.12
2018-04-26          34383.80               0.00        34383.80
2018-04-27          28810.35            1922.50        30732.85
2018-04-28            396.00             256.00          652.00
2018-04-30          36986.46               0.00        36986.46
2018-05-01          37456.64               0.00        37456.64
2018-05-02          37279.93               0.00        37279.93
...                      ...                ...             ...
2018-05-23          37421.82               0.00        37421.82
2018-05-24          33647.94               0.00        33647.94
2018-05-25          25634.15            1540.24        27174.39
2018-05-26              0.00             256.00          256.00
2018-05-27            267.00             264.00          531.00
2018-05-28           2002.00               0.00         2002.00
2018-05-29          38211.26               0.00        38211.26
2018-05-30          41534.19               0.00        41534.19
2018-05-31          38131.11               0.00        38131.11
2018-06-01          36125.37               0.00        36125.37
2018-06-03            552.00             264.00          816.00
2018-06-04          39824.32               0.00        39824.32
2018-06-05          40233.86               0.00        40233.86
2018-06-06          40718.68               0.00        40718.68
2018-06-07          39632.17               0.00        39632.17
2018-06-08          30000.97            3859.25        33860.22
2018-06-09            396.00               0.00          396.00
2018-06-10              0.00             810.00          810.00
2018-06-11          38456.86               0.00        38456.86
2018-06-12          39620.47               0.00        39620.47
2018-06-13          39883.72               0.00        39883.72
2018-06-14          36787.67             472.50        37260.17
2018-06-15          26338.87            5333.75        31672.62
2018-06-17              0.00             405.00          405.00
2018-06-18           2704.00               0.00         2704.00
2018-06-19           3416.00               0.00         3416.00
2018-06-20           3416.00               0.00         3416.00
2018-06-21           2648.00               0.00         2648.00
2018-06-22           2704.00               0.00         2704.00
2018-06-23              0.00             256.00          256.00

[78 rows x 3 columns]